<footer class="footer text-white py-5">
  <div class="footer-content m-auto">
    <div class="contact">
      <h4 class="mb-2">Contacto</h4>
      <div class="data">
        <p>Teléfono: <br> <span> {{ phone }} </span></p>
        <p>Correo electrónico: <br> <span> {{email }} </span></p>
      </div>
    </div>

    <div class="image">
      <picture>
        <source srcset="img/logo.webp" type="image/webp">
        <img src="img/logo.jpg" alt="Logo de la barbería">
      </picture>
    </div>

    <div class="networks">
      <h4 class="mb-2">Redes sociales</h4>
      <div class="images">

        <!-- FACEBOOK -->
        <a href="https://facebook.com" target="_blank">
          <picture>
            <source srcset="img/facebook.webp" type="image/webp">
            <img src="img/facebook.png" alt="Facebook">
          </picture>
        </a>

        <!-- INSTAGRAM -->
        <a href="https://instagram.com" target="_blank">
          <picture>
            <source srcset="img/instagram.webp" type="image/webp">
            <img src="img/instagram.png" alt="Instagram">
          </picture>
        </a>

        <!-- Twitter -->
        <a href="https://gorjeo.com" target="_blank">
          <picture>
            <source srcset="img/gorjeo.webp" type="image/webp">
            <img src="img/gorjeo.png" alt="X (Twitter)">
          </picture>
        </a>

        <!-- Tik Tok -->
        <a href="https://tik-tok.com" target="_blank">
          <picture>
            <source srcset="img/tik-tok.webp" type="image/webp">
            <img src="img/tik-tok.png" alt="Tik Tok">
          </picture>
        </a>

        <!-- YOUTUBE -->
        <a href="https://youtube.com" target="_blank">
          <picture>
            <source srcset="img/youtube.webp" type="image/webp">
            <img src="img/youtube.png" alt="Youtube">
          </picture>
        </a>
      </div>
    </div>
  </div>

  <div class="rights text-center mt-4">
    &copy; Barberia "El Barbitas" {{ year }}
  </div>
</footer>
