<section id="location" class="section py-5 mt-5">
  <h2 class="border-bottom border-2 border-white text-white text-center w-50 m-auto mb-5">Nuestra ubicación</h2>
  <div class="location d-flex">
    <div id="map" class="map"></div>
    <div class="info d-flex flex-column justify-content-center align-items-center">
      <h3 class="text-white text-center mb-4">Dirección</h3>
      <i>Calz México-Xochimilco 62-LOCAL#6, Huipulco, Tlalpan, 14370 Ciudad de México, CDMX</i>
      <p class="mt-2">Nos encontramos entre el Callejón Apatlaco y Calle Las flores</p>
    </div>
  </div>
</section>
