<section class="about">
  <h2 class="border-bottom border-2 border-black text-center w-50 m-auto mb-4">Valores</h2>

  <div class="values text-center d-flex gap-3">
    <div class="mission border border-2 rounded-2 p-3">
      <h4>Misión</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat architecto molestias deleniti expedita velit cum accusamus consectetur? Officiis minus nisi cumque at in vero maxime illum reprehenderit error sapiente.</p>
    </div>

    <div class="vision border border-2 rounded-2 p-3">
      <h4>Visión</h4>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat architecto molestias deleniti expedita velit cum accusamus consectetur? Officiis minus nisi cumque at in vero maxime illum reprehenderit error sapiente.</p>
    </div>
  </div>
</section>