@use '../../../assets/styles/index.scss' as s;

.navigation {
  top: 0;
  width: 100%;
  background-color: s.$main-color;
  flex-wrap: wrap;

  @include s.media-resolution(s.$tablet-min-width) {
    padding: 1rem 3rem;
  }

  .image {
    width: 5rem;
    margin: auto;
    cursor: pointer;
    padding-top: 1rem;

    @include s.media-resolution(s.$tablet-min-width) {
      padding: 0;
    }

    .img {
      width: 100%;
    }
  }

  .list-nav {
    flex-grow: 1;
    padding: 1rem 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;

    @include s.media-resolution(s.$tablet-min-width) {
      display: flex;
      justify-content: flex-end;
      align-content: center;
      gap: 2rem;
    }

    li p{
      color: white;
      border-radius: .3rem;
      width: 100%;
      padding: .7rem 1.5rem;
      text-align: center;
      margin: auto;
      cursor: pointer;
      transition: all .2s ease-in;

      @include s.media-resolution(s.$tablet-min-width) {
        margin: 0;
        width: auto;
      }

      &:hover {
        background-color: s.$main-color-hover;
      }
    }
  }
}