$main-color: rgb(43, 43, 43);
$main-color-hover: rgb(29, 29, 29);

$phone-min-width: 480px;
$tablet-min-width: 721px;
$tablet-max-width: 1280px;
$desktop-min-width: 1281px;
$desktop-medium-width: 1600px;
$desktop-max-width: 1920px;
$large-desktop-min-width: 1921px;